compile_commands.json
.cache/
*.swp
*.swo
.vscode
obj/
plugins/*/build/
/bin/**
!bin/data/
!bin/data/shaders/
!bin/data/shaders/**
docs/
.DS_Store
*.code-workspace
.idea/
**/build/
libs/plugin_sdk/
.github
plugin-dev-kit/generated/